#loginForm {
    height: 100vh;
    width: 100vw;
    background: #fff;
    z-index: 200;
}

#loginForm>div {
    width: 60%;
    padding: 30px;
    border: 1px solid #a4a6a9;
    border-radius: 4px;
}

#phoneSpan, #MPINSpan {
    width: 70px;
}

red {
    color: #f00;
}

#mainArea {
    min-height: 100vh;
}

p.h2>img {
    margin-top: -10px;
}

#autherr {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 10;
}

#captchaImage {
    height: 70px;
    width: auto;
    border: 1px solid #ced4da;
    border-radius: 4px;
    float: right;
}

/*
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}
*/