::-webkit-scrollbar {
    background-color: #fff;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    background-color: #c5c5ca;
    border-radius: 12px;
    border: 3px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 2px solid #f4f4f4;
}

::-webkit-scrollbar-button {
    display: none;
}

#loginForm {
    min-height: 100vh;
    width: 100vw;
    background: #fff;
    z-index: 200;
}

#loginForm>div {
    padding: 30px;
    margin: 20px;
    border: 1px solid #afb0b1;
    border-radius: 4px;
}

#phoneSpan, #MPINSpan {
    width: 70px;
}

red {
    color: #f00;
}

#mainArea {
    min-height: 100vh;
}

p.h2>img {
    margin-top: -10px;
}

#autherr {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 10;
}

#captchaImage {
    height: 70px;
    width: auto;
    border: 1px solid #ced4da;
    border-radius: 4px;
    float: right;
}

.lowPadding {
    padding: 0.6rem;
}

.smallFont {
    font-size: 0.9rem;
}

.toast {
    margin: 5px;
    width: 300px;
}

.headerText {
    display: flex;
    align-items: center;
}

.headerText>img {
    margin-right: 10px;
}

.container {
    background-color: #fafafa;
}

#lastUpdated>div.spinner-border {
    border-width: 0.14em;
}

.form-control[readonly]:not([disabled]) {
    background-color: unset;
}

#dateRangePicker input:not([disabled]) {
    cursor: pointer;
}

#status, #lastUpdated {
    background-color: #e9ecef;
}

.btn.disabled, .btn:disabled {
    opacity: 0.45;
}

input[name=stateOrPIN]:not([disabled]) {
    cursor: pointer;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}